//-------------------------------------------------------
//- Modules :: Steps
//-------------------------------------------------------

mixin steps(numberSteps, currentStep)
  .d-flex.justify-content-between
    - currentStep = currentStep ? currentStep : 1
    each _, i in Array(numberSteps)
      +step({
        number: i + 1,
        current: i + 1 == currentStep,
        width: (100 - numberSteps)/numberSteps
      })
        
mixin step({number, current, width})
  .step.justify-content-end(
    id=`step${number}-label`
    class= current  ? 'step--current' : null
    style={width: `${width}%`}
  )
    span.step__label= `Step ${number}`
